{% extends "layout.html" %}
{% block content %}
<div class="container">
    <h1 class="my-4">Edit {{ step_type|capitalize }} Step in {{ recipe.name }}</h1>
    <form method="POST">
        {{ form.hidden_tag() }}
        <div class="mb-3">
            {{ form.step_text.label(class="form-label") }}
            {{ form.step_text(class="form-control") }}
        </div>
        <div class="mb-3">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}
